// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$value-color:              rgba(255, 255, 255, 0.8);
$background-color:         #78A300;
$background-default-color: #E5E5E5;
$background-error-color:   #E74C3C;
$background-passed-color:  #2ecc71;
$background-started-color: #3498db;
$background-queued-color:  #3498db;
$background-broken-color:  #222426;
$background-no-test-color: #f39c12;

$title-color:       rgba(255, 255, 255, 0.8);
$label-color:       rgba(255, 255, 255, 0.8);
$moreinfo-color:    rgba(255, 255, 255, 0.8);

// ----------------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------------
@font-face {
    font-family: 'ClimaconsRegular';
    src: url('/assets/weather.eot');
    src: url('/assets/weather.eot') format('embedded-opentype'),
         url('/assets/weather.woff') format('woff'),
         url('/assets/weather.ttf') format('truetype'),
         url('/assets/weather.svg#ClimaconsRegular') format('svg');
}

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-circle-ci.widget {
  width: 40%;
}
.widget-circle-ci {

  background-color: $background-default-color;
  vertical-align: top;

  img {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.05;
  }

  .title {
    color: $title-color;
    font-size: 30px;
    font-weight: 400;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    text-align: center;
    display: block;
    color: $label-color;
    font-size: 24px;
    word-wrap: break-word;
  }

  .value {
    text-align: center;
    display: block;
    font-weight: 600;
    color: $value-color;
    padding-top: 1em;
    font-size: 16px;
    word-wrap: break-word;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
  }

  .committer {
    text-align: center;
    display: block;
    color: $value-color;
    margin-top: 10px;
    padding-top: 12px;
    font-size: 18px;
    font-style: italic;
    word-wrap: break-word;
    width: 100%;
    margin: 0 auto;
  }
 
  .committer:before{
    content: '- ';
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
    display: block;
  }

  .more-info {
    color: $moreinfo-color;
  }

  div.climate {
    font-family: 'ClimaconsRegular';
    font-size: 3.5em;
    color: rgba(255, 255, 255, 0.9)
  }

  &.failed,
  &.errored,
  &.timedout {
    background-color: $background-error-color;
  }

  &.started,
  &.running {
    background-color: $background-started-color;
  }

  &.queued {
    background-color: $background-queued-color;
  }

  &.passed,
  &.success,
  &.fixed {
    background-color: $background-passed-color;
  }

  &.canceled,
  &.no_tests,
  &.broken {
    background-color: $background-default-color;
    color: $background-broken-color;

    ul, li, div, .title, .committer, .value, .label, .climate {
      color: $background-broken-color;
    }
  }

}
