<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
        Dashing.widget_base_dimensions = [370, 320]
        Dashing.numColumns = 4
    });
</script>


<% content_for :title do %>ClicRDV Dashboard<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>


    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="quote" data-view="Text" style="background-color: #9b59b6;"></div>
      <i class="icon-quote-left icon-background"></i>
    </li>


    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="current_stats" data-view="CurrentStats" style="background-color: #e74c3c"></div>
      <i class="icon-calendar icon-background"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="total_stats" data-view="TotalStats" style="background-color: #e67e22"></div>
      <i class="icon-user icon-background"></i>
    </li>



    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="newrelic_load" data-view="Meter" data-title="Load" style="background-color:#34495e"></div>
    </li>



<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="newrelic_ram" data-view="Number" data-title="RAM" data-moreinfo="Mo"></div>
    </li>
 -->
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_master" data-view="CircleCi" data-unordered="true" data-title="Master"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_beta" data-view="CircleCi" data-unordered="true" data-title="Beta"></div>
      <div data-id="dashing-circleci-ClicRDV_JS_beta" data-view="CircleCi" data-unordered="true" data-title="Beta (JS)"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_alpha" data-view="CircleCi" data-unordered="true" data-title="Alpha"></div>
      <div data-id="dashing-circleci-ClicRDV_JS_alpha" data-view="CircleCi" data-unordered="true" data-title="Alpha(JS)"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bitcoin" data-view="Number" data-title="Bitcoin" data-suffix="€" style="background-color:#16a085"></div>
      <i class="icon-bitcoin icon-background"></i>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rer" data-view="Rer" data-title="Prochain RER" style="background-color:#16a085"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="error" data-view="Errors" data-title="Latest Error" style="background-color:#333"></div>
      <i class="icon-exclamation icon-background"></i>
    </li>

<!--     <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="sochi" data-view="Sochi" data-title="Sochi 2014" style="background-color:#333"></div>
      <i class="icon-trophy icon-background"></i>
    </li> -->

    <!--<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_pr" data-view="CircleCi" data-unordered="true" data-title="Jenkins Pull Request"></div>
    </li>-->

  </ul>
</div>