<% content_for :title do %>ClicRDV Dashboard<% end %>
<% content_for :title do %>ClicRDV Dashboard<% end %>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="newrelic_rpm" data-view="Meter" data-title="Trafic" data-min="0" data-max="50000" data-moreinfo="Requetes par minute"></div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="newrelic_response_time" data-view="Number" data-title="Temps de réponse" data-moreinfo="En millisecondes"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="newrelic_cpu" data-view="Graph" data-title="CPU"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="newrelic_ram" data-view="Graph" data-title="RAM"></div>
    </li>

      

<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

 -->
  </ul>
</div>