<% content_for :title do %>ClicRDV Dashboard<% end %>
<% content_for :title do %>ClicRDV Dashboard<% end %>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="ClicRDV Dashboard" data-text="Hello." data-moreinfo="World."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="newrelic_rpm" data-view="Graph" data-title="Trafic" data-moreinfo="RPM"></div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="newrelic_response_time" data-view="Graph" data-title="Temps de réponse" data-moreinfo="ms"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="newrelic_cpu" data-view="Number" data-title="CPU" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="newrelic_ram" data-view="Number" data-title="RAM" data-moreinfo="Mo"></div>
    </li>

      

<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

 -->
  </ul>
</div>