<title>CircleCI</title>
<div class="gridster ready">
  <ul>
    <!-- Row 1 -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_master" data-view="CircleCi" data-unordered="true" data-title="Jenkins master"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_beta" data-view="CircleCi" data-unordered="true" data-title="Jenkins beta"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_alpha" data-view="CircleCi" data-unordered="true" data-title="Jenkins alpha"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_JS_beta" data-view="CircleCi" data-unordered="true" data-title="Jenkins JS beta"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_JS_alpha" data-view="CircleCi" data-unordered="true" data-title="Jenkins JS alpha"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci-ClicRDV_pr" data-view="CircleCi" data-unordered="true" data-title="Jenkins Pull Request"></div>
    </li>
  </ul>
</div>
